# IDE / Editor
.idea/
.vscode/
*.iml


# Node.js (ALL packages)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Environment variables
.env
.env.*
!.env.example


# Compiled JS (if using TS later)
dist/
build/
coverage/


# Frontend (React + Vite)
frontend/dist/
frontend/.vite/
frontend/coverage/


# Vite / React cache
.vite/


# OS
.DS_Store
Thumbs.db


# Logs
logs/
*.log
